.c-table__row {
    display: flex;
    justify-content: space-between;
    border-collapse: collapse;
}
  
.c-table__row--bg {
    display: flex;
    justify-content: space-between;
    background-color: #d8f3b5;
}