#c-search__submit {
    border: none;
    text-transform: uppercase;
    background: rgb(25, 121, 22);
    color: #ffffff;
    height: 27px;
    font-weight: bold;
    font-size: 85%;
    float: left;
    cursor: pointer;
}
